body {
	background-image: url('../img/javascript-JS.png');
	background-color: rgb(160,160,160);
	background-size: 25%;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
}

a {
	display: block;
	width: 200px;
	height:  150px;
	border:  1px;
	text-decoration: none;
	text-align: center;
	margin:  10px 10px;
	color:  white;
	float: left;
	vertical-align: middle;
	line-height: 150px;
	font-size:  200%;
	opacity: 0.3;
}